<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="carousel.css"/>
</head>
<body>
    <div class="container">
        <div class="slider-rapper">
            <div class="card-list">
                <div class="card-item">
                    <img class="user-image" src="https://sprl.in/xxTdpBZ"/>
                    <h2>Rahul Ray</h2>
                    <p class="user-profession">Software Developer</p>
                    <button class="message-button">Message</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>