<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carousel</title>
    <link rel="stylesheet" href="carousel.css">
</head>
<body>
    <div class="container">
        <button class="arrow left-arrow" id="prevBtn">❮</button>
        <div class="slider-wrapper">
            <div class="card-list" id="carousel">
                <div class="card-item">
                    <img class="user-image" src="https://sprl.in/xxTdpBZ" alt="User Image">
                    <h2>Rahul Ray</h2>
                    <p class="user-profession">Software Developer</p>
                    <button class="message-button">Message</button>
                </div>
                <div class="card-item">
                    <img class="user-image" src="https://sprl.in/xxTdpBZ" alt="User Image">
                    <h2>Rahul Ray</h2>
                    <p class="user-profession">Software Developer</p>
                    <button class="message-button">Message</button>
                </div>
                <div class="card-item">
                    <img class="user-image" src="https://sprl.in/xxTdpBZ" alt="User Image">
                    <h2>Rahul Ray</h2>
                    <p class="user-profession">Software Developer</p>
                    <button class="message-button">Message</button>
                </div>
                <div class="card-item">
                    <img class="user-image" src="https://sprl.in/xxTdpBZ" alt="User Image">
                    <h2>Rahul Ray</h2>
                    <p class="user-profession">Software Developer</p>
                    <button class="message-button">Message</button>
                </div>
                <div class="card-item">
                    <img class="user-image" src="https://sprl.in/xxTdpBZ" alt="User Image">
                    <h2>Rahul Ray</h2>
                    <p class="user-profession">Software Developer</p>
                    <button class="message-button">Message</button>
                </div>
                <div class="card-item">
                    <img class="user-image" src="https://sprl.in/xxTdpBZ" alt="User Image">
                    <h2>Rahul Ray</h2>
                    <p class="user-profession">Software Developer</p>
                    <button class="message-button">Message</button>
                </div>
                <div class="card-item">
                    <img class="user-image" src="https://sprl.in/xxTdpBZ" alt="User Image">
                    <h2>Rahul Ray</h2>
                    <p class="user-profession">Software Developer</p>
                    <button class="message-button">Message</button>
                </div>
                
             </div>
        </div>
        <button class="arrow right-arrow" id="nextBtn">❯</button>
    </div>
    <script src="carousel.js"></script>
</body>
</html>
